<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
      <!-- log4j 配置  开始 -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>600000</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>device.root</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!-- log4j 配置  结束 -->
    <!-- 手动修改状态并且发送心跳包 -->
    <servlet>
		<servlet-name>mushDevice</servlet-name>
		<servlet-class>
			mushDeviceServlet.DeviceClinet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 故障 设备 -->
    <servlet>
		<servlet-name>failedDevice</servlet-name>
		<servlet-class>
			mushDeviceServlet.failedDevice
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mushDevice</servlet-name>
		<url-pattern>/changestatus</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>failedDevice</servlet-name>
		<url-pattern>/failedDevice</url-pattern>
	</servlet-mapping>
	
</web-app>
